<a href="https://colab.research.google.com/github/tubaaktas/Comprehension/blob/main/Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehension**

In [ ]:
salaries = [4500, 3400, 9820, 7600, 6570]

def new_salary(x):
  return x*20/100 +x

for salary in salaries:
  print(new_salary(salary))

5400.0
4080.0
11784.0
9120.0
7884.0

In [ ]:
null_list=[]
for salary in salaries:
  null_list.append(new_salary(salary))

In [ ]:
null_list

[5400.0, 4080.0, 11784.0, 9120.0, 7884.0]

In [ ]:
null_list =[]
for salary in salaries:
  if salary > 3000:
    null_list.append(new_salary(salary))
  else:
    null_list.append(new_salary(salary*2))

In [ ]:
null_list

[5400.0, 4080.0, 11784.0, 9120.0, 7884.0]

In [ ]:
[new_salary(salary*2) if salary < 3000 else new_salary(salary) for salary in salaries] #if else yapisi beraber kullanilacaksa if ve else solda kullanılıp en sona for dongusu eklenir. 
[salary * 2 for salary in salaries if salary < 3000] #eger list comp. yapisinda sadece if bulunuyorsa if sagda kullanilir.
[salary * 2 if salary < 3000 else salary * 0 for salary in salaries]#HAYAT KURTARAN SERISINDEN

[0, 0, 0, 0, 0]

In [ ]:
#istenmeyen ogrencilerin adini kucult, digerlerini buyult.
students = ["Omer", "Burak", "Oguzhan", "Ali", "Tugba", "Büşra", "Betül", "Sena"]
students_no = ["Oguzhan", "Sena"]

[student.lower() if student in students_no else student.upper() for student in students]

['OMER', 'BURAK', 'oguzhan', 'ALI', 'TUGBA', 'BÜŞRA', 'BETÜL', 'sena']

# **Dict Comprehensions**

In [ ]:
dict = {'a':1,
        'b':2,
        'c':3,
        'd':4}
dict.keys()
dict.values()
dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [ ]:
{k: v ** 2 for (k,v) in dict.items()} # key sabit fakat value **2 yani karesini alacak. For dongusuyle de nereden ne alacagini belirtiyoruz.

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [ ]:
{k.upper(): v for (k,v) in dict.items()} #HAYAT KURTARAN SERISINDEN !!

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [ ]:
#Uygulama Mülakat Sorusu : Cift sayilarin karesi alinarak bir sozluge eklenmelidir.
num = range(10)
new_dict = {}

for n in num:
  if n % 2 == 0:
    new_dict[n] = n ** 2 # new_dict[key] = value olarak islem saglanir

#dict comp :
{n : n ** 2 for n in num if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
#uygulama1 : bir veri setindeki degisken isimlerini degistirme
#before : ['total','speeding','alcohol','not_distraced','no_previous','ins_premium','ins_losses','abbrev'] bunlari upper haline cevirmek istiyoruz.

import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
for col in df.columns:
  print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [ ]:
#list comp. kullanmadan:
A = []
for col in df.columns:
  A.append(col.upper())
df.columns = A

In [ ]:
#list comp. kullanarak :
df.columns = [col.upper() for col in df.columns]

In [ ]:
#Uygulama2 : Isminde "INS" olan degiskenlerin basina FLAG digerlerine NO_FLAG eklemek istiyoruz.
[col for col in df.columns if "INS" in col] # icinde ıns barindiranlari getirdi.
["FLAG_" + col if "INS" in   col else "NO_FLAG_" + col for col in df.columns] #mycode, df.columns icinde INS varsa col'a ekle "FLAG_" yoksa ekle "NO_FLAG_",

['NO_FLAG_TOTAL',
 'NO_FLAG_SPEEDING',
 'NO_FLAG_ALCOHOL',
 'NO_FLAG_NOT_DISTRACTED',
 'NO_FLAG_NO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAG_ABBREV']

In [ ]:
#Uygulama 3 : Amac key'i string, value'su liste olan sozluk olusturmak. Bu islemi sadece sayisal degiskenler icin yapmaliyiz.

import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
col_num = [col for col in df.columns if df[col].dtype != "O"] # df columundaki object olmayan degerleri donecek. Yani sayisal.
col_num

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [ ]:
dict = {}
agg_list = ["mean", "min", "max", "sum"] # eklenecek value

In [ ]:
dict = {col : agg_list for col in col_num} #dict comp. ile eklenisi

In [ ]:
dict

{'alcohol': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'total': ['mean', 'min', 'max', 'sum']}

In [ ]:
df[col_num].agg(dict) #gonderdigimiz sozlugun icindeki degiskenler eger dataframe da varsa; degiskenleri key bolumunde tutar value bolumunde tuttugumuz degiskenleri key'lere otomatik olarak uygular.
#HAYAT KURTARAN FONKSİYON .agg() !!

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000